body{
  background-color:#3E4551;
  color:white;
  display:flex;
  flex-direction:column;
  padding:20px 5px;
}
h1{
  font-size:30px;
}
.container{
  display:flex;
  flex-direction:column;
  padding:50px 15px;
  text-align:center;
}
nav{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  height:30px;
}
#logo{
  list-style:none;
  text-decoration:none;
  margin-right:auto;
}
.logoIMG{
  width:100px;
}
#bottom{
  float:right;
}
.items{
  list-style:none;
  text-decoration:none;
  float:left;
  padding:0 0 0 15px;
}
#intro{
  height:45%;
}
.mainIMG{
  width:100%;
}
p{
  font-size:20px;
}
button{
  border-style:none;
  background-color:#339ECC;
  height:60px;
  width:80%;
  margin: 5% auto;
  border-radius:30px;
  color:white;
}
.cardIMG{
  width:75px;
  margin:0 auto;
}
.qoutes{
  text-align:left;
  background-color:#3D4657;
  padding:10px 5px;
}
.testPic{
  border-radius:100px;
}