body{
  color:white;
  display:flex;
  flex-direction:column;
  padding:20px 5px;
  font-family:'Open-Sans', sans-serif;
  min-width:300px;
  margin:0;
  background-color:#181F2A;
  overflow-x:hidden;
}
h1{
  font-size:30px;
  font-family:Raleway, sans-serif;
}
p1{
  font-size:16px;
}
p2{
  font-size:14px;
}
.container{
  display:flex;
  flex-direction:column;
  padding:55px 15px;
  text-align:center;
  width:30%;
}
.logoIMG{
  width:100px;
}
#menu{
  height:20px;
  display:flex;
  justify-content:space-between;
  width:100%;
  height:35px;
  margin:0;
  padding-top:50px;
  background-color:#1C2431;
}
#menuItems{
  float:right;
}
.items{
  list-style:none;
  text-decoration:none;
  float:left;
  padding-right:50px;
}
.mainIMG{
  width:100%;
  margin:0 auto%;
}
.introSect{
  width:50%;
  margin:0;
  text-align:center;
  background-color:#1C2431;
  padding:0 25%;
  background-image:url(images/bg-curvy-desktop.svg);
  background-repeat:no-repeat;
  background-position:0 51vh;
  
}
.input{
  border-style:none;
  height:60px;
  margin: 5% auto;
  border-radius:30px;
  font-size:18px;
  text-align:center;
}
button{
  width:35%;
  font-style: bold;
  font-size: 18px;
  color:white;
  background-image: linear-gradient(to right, #81D9D4, 	#339ECC);
}
.serviceSect{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  margin:0;
}
.service{
  width:30%;
  padding:5% 10%;
  display:flex;
  justify-content:flex-end;
}
.centerIcon{
  width:100px;
  margin:0 auto;
}
.productivitySect{
  width:90%;
  display:flex;
  flex-direction:row;
  padding:5% 5%;
}
#textColumn{
  width:100%;
  margin:5%;
}
#productivityTitle{
  width:60%;
}
.qouteSect{
  width:80%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:10%;
}
.qouteCard{
  width:25%;
  padding:2% 25px;
  background-color:#3D4657;
}
.profileInfo{
  margin:20px 0;
}
.profilePic{
  float:left;
  height:50px;
  border-radius:100px;
  margin-right:15px;
}
.accessSect{
  margin:10% auto;
  padding:0 5%;
  display:flex;
  flex-wrap:wrap;
  width:50%;
  background-color:#1C2431;
}
.noMarPad{
  margin:0;
  padding-bottom:10px;
}
#form{
  width:60%;
  margin-right:10px;
  text-align:center;
  color:black;
}
.bottomLogo{
  width:200px;
  height:50px;
  padding:0 80% 5% 8%;
}
.contactText{
  margin:50px 50px 0;
  width:90%;
}
.contactSect{
  margin-top:50px;
  display:flex;
  background-color:#1C2431;
  padding:10vw 0;
  flex-wrap:wrap;
}
.bottomMenus{
  height:50%;
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
.icons{
  float:left;
}
.map{
  list-style-image:url(images/icon-location.svg);
  width:25%;
}
.phone{
  list-style-image:url(images/icon-phone.svg);
}
.email{
  list-style-image:url(images/icon-email.svg);
}
.bottomNav{
  margin:20px 10px;
  list-style:none;
  width:8%;
}
#iconContainer{
  width:20%;
  height:50px;
  margin-top:20px;
  display:flex;
  justify-content:space-around;
}